[core]
#	editor = nano
  editor = code --wait
	autocrlf = input
	excludesfile = /Users/mika/dotfiles/.gitignore_global
[user]
	name = Mika Marttila
	email = mika@oranssi.org
[alias]
	st = status -sb
	ci = commit
	co = checkout
	br = branch
	lbr = branch -a
	lbrv = branch -lvvv
	gren = grep -n
	lg = log -p
	staged = diff --staged
	cached = diff --cached
	unstaged = diff
	both = diff HEAD
	oneline = log --pretty=oneline
	amend = commit --amend
	rull = pull --rebase
	lush = push --force-with-lease
	upush = push -u origin HEAD
	cp = cherry-pick -x
	ch = cherry -v
	fetcha = fetch --all
	sh = stash
	shp = stash pop
	rbc = rebase --continue
	rba = rebase --abort
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[push]
	default = tracking
[rebase]
	stat = true
[interactive]
	singlekey = true

[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
